.logo {
	width: rem(135px);
	height: rem(55px);
}

.dark {
	@mixin dark {
		display: none;
	}

	@mixin light {
		display: block;
	}
}

.light {
	@mixin light {
		display: none;
	}

	@mixin dark {
		display: block;
	}
}
